.container {
    max-width: 1110px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.btn-container {
    max-width: 1300px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.menu-container-left {
    max-width: 500px;
    width: 100%;
    padding-right: 0;
    padding-left: 10px;
    margin-right: auto;
    margin-left: 0;
    text-align: left;
}
.menu-container-right {
    max-width: 500px;
    width: 100%;
    padding-right: 0;
    padding-left: 30px;
    margin-right: auto;
    margin-left: auto;
    text-align: left;
}
.list-container {
    list-style-type: none;
    position: relative;
    padding-left: 30px;
}
.margin-right {
    margin-right: 42px;
}
.margin-bottom {
    margin-bottom: 10px;
}
