.footer-part {
    background-color: #4b4b4b;

    @media only screen and (max-width: 480px){
        .span-1-of-4-footer {
            width: 100%;
            padding-bottom: 30px;
            text-align: center;
        }
    }
}
.contact-list {
    list-style-type: none;
    text-align: left;

    @media only screen and (max-width: 480px){
        padding-left: 35px;
    }

    &__item {
        color: #ffffff;
        font-size: 17px;
        font-family: 'Arial',sans-serif;
        font-weight: 300;
    }

    &__item:not(:last-child){
        margin-bottom: 10px;
    }

    &__item a {
        list-style-type: none;
        text-decoration: none;
        color: #ffffff;
    }
}