.header-section {
    height: 690px;
    width: 100%;
    position: relative; 

    display: flex;
    justify-content: center;
    align-items: center;


    &__background-imgs {
        filter: brightness(40%);
        width: 100%;
        height: 100%;
        object-fit: cover;
        overflow: hidden;
    }

    @media only screen and (max-width: 320px){
        height: 430px;
    }
}
.navbar {
    z-index: 9999;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    left: 0px;
    padding-left: 0px;
    padding-right: 0px;
    position: absolute;
    right: 0px;
    text-align: left;
    top: 0px;
    align-items: center;

    background-color: white;

}
.navigation-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;

    @media only screen and (max-width: 480px) {
        padding: 20px 0;
    }

    &__list {
        list-style-type: none;
        text-decoration: none;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;

        @media only screen and (max-width: 1024px) and (min-width:990px){
            display: flex;
        }

        @media only screen and (max-width: 989px){
            display: none;
        }

        
    }  
    &__nav-list {
        color: #1b1b1b;
        margin-left: 36px;
        padding: 5px 0 5px 0;
        font-size: 16px;

    }  
    &__nav-list:hover {
        border: 1px solid #ef4035;
        border-left: none;
        border-right: none;
        color: #ef4035;
    }

    
}
.arrow-buttons {

    @media only screen and (max-width: 989px){
        display: none;
    }

    &__left {
        position: absolute;
        left: 30px;
        background: transparent;
        border: none;
        font-size: 90px;
        outline: none;
        color: #ffffff;
        cursor: pointer;
    }
    &__left:hover {
        color: #ef4035;
    }

    &__right {
        position: absolute;
        right: 30px;
        background: transparent;
        border: none;
        font-size: 90px;
        outline: none;
        color: #ffffff;
        cursor: pointer;
    }
    &__right:hover {
        color: #ef4035;
    }
}
.hero-text {
    position: absolute;

    &__main {

        @media only screen and (max-width: 1024px) and (min-width:989px){
            font-size: 80px;
        }



        @media only screen and (max-width: 480px){
            font-size: 64px;
            padding-left: 40px;
            padding-right: 40px;
            margin-bottom: 20px;
        }

        @media only screen and (max-width: 320px){
            font-size: 46px;
            padding-left: 20px;
            padding-right: 20px;
            margin-bottom: 20px;
        }
    }

    &__paragraph {
        color: #ffffff;
        font-size: 20px;

        @media only screen and (max-width: 320px){
            padding-left: 40px;
            padding-right: 40px;
        }
    }
    &__paragraph:after,
    &__paragraph:before {
        display: inline-block;
        content: "";
        border-top: 1px solid #ffffff;
        width: 50px;
        margin: 0 15px;
        transform: translateY(-5px);

        @media only screen and (max-width: 480px){
            width: 15px;
            margin: 0 10px;
        }

        @media only screen and (max-width: 320px){
            display: none;
        }
    }
}
.img-btn {

    @media only screen and (max-width: 320px){
        display: none;
    }


    position: absolute;
    bottom: 30px;
}
.active, .dots:hover {
    background-color: #ef4035 !important;
}
.dots {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #ffffff;
    border-radius: 50%;
    display: inline-block;
    transition: all 0.5s ease;
}
.dropdown-menu {
    display: none;

    @media only screen and (max-width: 989px) and (min-width: 320px){
        display: inline;

        font-size: 30px;
        padding-right: 20px;
    }
}

.js--main-nav {


    @media only screen and (max-width: 989px) {
        position: relative;
        left: -30%;
    }

    @media only screen and (max-width: 480px) {
        left: -15%;
    }

    @media only screen and (max-width: 320px) {
        left: -10%;
    }
}

.js--main-nav li a {

    @media only screen and (max-width: 989px) and (min-width: 320px){
        display: block;
        font-size: 25px;
    }
}